{% extends 'konnekt/main.html' %}
{% load static %}
{% block main %}

  <div id="layout" class="theme-cyan">
    {% include 'konnekt/nav_sidebar.html' %}
    {% include 'konnekt/rightbar.html' %}
    <div class="main px-xl-5 px-lg-4 px-3">
      <div class="chat-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="chat d-flex justify-content-center align-items-center h-100 text-center py-xl-4 py-md-3 py-2">
          <div class="container-xxl">
            <div class="avatar lg avatar-bg me-auto ms-auto mb-5">
              <img class="avatar lg rounded-circle border" src="{{ request.user.profile.avatar.url }}" style="object-fit: cover;">
              <span class="a-bg-1"></span>
              <span class="a-bg-2"></span>
            </div>
            <h5 class="font-weight-bold">Hi, {{ request.user|title }}</h5>
            <p>Start connecting.</p>
          </div>
        </div>
      </div>
    </div>

      <div class="modal fade" id="InviteFriends" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Invite New Friends</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control">
                <small id="emailHelp" class="form-text text-muted">
                  Lorem, ipsum, dolor sit amet consectetur adipisicing.
                </small>
              </div>
            </form>
            <div class="mt-5">
              <button type="button" class="btn btn-primary">Send Invite</button>
              <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
