{% extends 'konnekt/main.html' %}
{% load static %}
{% block main %}


  <div id="layout" class="theme-cyan">
    <div class="navigation navbar justify-content-center py-xl-4 py-md-3 py-0 px-3">
      <div class="nav flex-md-column nav-pills flex-grow-1" role="tablist" aria-orientation="vertical">
        <a class="mb-xl-3 mb-md-2 nav-link active" data-bs-toggle="pill" href="{% url 'my_profile' %}" role="tab">
          <img src="{{ my_profile.avatar.url }}" class="avatar sm rounded-circle" alt="user avatar" style="object-fit: cover;">
        </a>
        <a class="mb-xl-3 mb-md-2 nav-link" data-bs-toggle="pill" href="{% url 'chats' %}">
          <i class="zmdi zmdi-home"></i>
        </a>
        <a class="mt-xl-3 mt-md-2 nav-link light-dark-toggle" href="javascript:void(0);">
          <i class="zmdi zmdi-brightness-2"></i>
          <input class="light-dark-btn" type="checkbox">
        </a>
        <a class="mt-xl-3 mt-md-2 nav-link d-none d-sm-block" href="{% url 'my_profile' %}" role="tab">
          <i class="zmdi zmdi-settings"></i>
        </a>
      </div>

      <button type="submit" class="btn sidebar-toggle-btn shadow-sm">
        <i class="zmdi zmdi-menu"></i>
      </button>
    </div>

    <div class="sidebar border-end py-xl-4 py-3 px-xl-4 px-3">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-tab-user" role="tabpanel">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="mb-0 text-primary">Profile</h4>
            <div>
              <a href="{% url 'sign_out' %}" title="" class="btn btn-dark">Sign Out</a>
            </div>
          </div>
          <div class="card border-0 text-center pt-3 mb-4">
            <div class="card-body">
              <div class="card-user-avatar">
                <img src="{{ my_profile.avatar.url }}" alt="avatar" style="width:120px; object-fit: cover;">
                <form method="post" enctype="multipart/form-data" id="uploadForm">
                  {% csrf_token %}
                  <label class="btn btn-secondary btn-sm">
                    <i class="zmdi zmdi-edit"></i>
                    <input type="file" class="d-none" name="avatar" id="fileInput">
                  </label>
                  <input type="hidden" name="source" value="edit_avatar">
                </form>

                <script>
                  document.getElementById('fileInput').addEventListener('change', function() {
                    document.getElementById('uploadForm').submit();
                  });
                </script>

              </div>
              <div class="card-user-detail mt-4">
                <h5>{{ request.user.username|title }}</h5>
                <span class="text-muted"><a href="" class="__cf_email__">{{ request.user.email }}</a></span>
                <p>{{ request.user.profile.phone }}</p>
                <div class="social">
                  <a class="icon p-2" href="#" data-toggle="tooltip" title="Facebook">
                    <i class="zmdi zmdi-facebook-box"></i>
                  </a>
                  <a class="icon p-2" href="#" data-toggle="tooltip" title="Youtube">
                    <i class="zmdi zmdi-youtube-play"></i>
                  </a>
                  <a class="icon p-2" href="#" data-toggle="tooltip" title="Twitter">
                    <i class="zmdi zmdi-twitter"></i>
                  </a>
                  <a class="icon p-2" href="#" data-toggle="tooltip" title="Instagram">
                    <i class="zmdi zmdi-instagram"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="main px-xl-5 px-lg-4 px-3">
      <div class="main-body">
        <div class="body-header border-bottom py-xl-3 py-2">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

          <div class="container px-0">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="media">
                  <div class="avatar sm">
                    <a href="{% url 'chats' %}" title="Home" class="link">
                      <i class="zmdi zmdi-arrow-left zmdi-hc-lg"></i>
                    </a>
                  </div>
                  <div class="media-body overflow-hidden">
                    <div class="d-flex align-items-center mb-1">
                      <h6 class="fw-bold text-truncate mb-0 me-auto">Settings</h6>
                    </div>
                    <div class="text-truncate"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="body-page d-flex py-xl-3 py-2">
          <div class="container px-0">
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs nav-overflow page-header-tabs mb-4 mt-md-5 mt-3">
                  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting-general" role="tab">General</a></li>
                  <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting-members" role="tab">Groups</a></li>-->
                  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting-security" role="tab">Security</a></li>
                </ul>
              </div>
            </div>

            <div class="tab-content">

              <div class="tab-pane fade show active" id="setting-general" role="tabpanel">
                <div class="row">
                  <div class="col-12">
                    <div class="card mb-4">
                      <div class="card-header">
                        <h6 class="card-title mb-0">Account Settings</h6>
                        <span class="text-muted">Update your account details</span>
                      </div>
                      <div class="card-body">

                        <form class="row g-3" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Enter full name" name="full_name"
                                  {% if my_profile.full_name %} value="{{ my_profile.full_name|title }}" {% endif %}>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Enter phone number" name="phone"
                                  {% if my_profile.phone %} value="{{ my_profile.phone }}" {% endif %}>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control form-control-lg" value="{{ my_profile.user.email }}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Facebook profile link" name="facebook"
                                  {% if my_profile.facebook %} value="{{ my_profile.facebook }}" {% endif %}>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Instagram profile link" name="insta"
                                  {% if my_profile.insta %} value="{{ my_profile.insta }}" {% endif %}>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Twitter profile link" name="twitter"
                                  {% if my_profile.twitter %} value="{{ my_profile.twitter }}" {% endif %}>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label class="btn btn-sm btn-primary">Select Avatar
                                <input type="file" class="d-none">
                              </label>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <div class="input-group">
                                <textarea rows="4" class="form-control" placeholder="Enter Bio" name="bio">{% if my_profile.bio %} {{ my_profile.bio|capfirst }} {% endif %}</textarea>
                              </div>
                            </div>
                          </div>
                          <input type="hidden" name="source" value="edit_profile">
                          <div class="col-12">
                            <button type="submit" class="btn btn-success">Update</button>
                            <!--<button type="button" class="btn btn-warning">Cancel</button>-->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-between mt-4">
                  <div class="col-12 col-md-6">
                    <h5>Delete your account</h5>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-danger mb-5">Delete</button>
                  </div>
                </div>
              </div>



              <!--<div class="tab-pane fade" id="setting-members" role="tabpanel">
                <div class="row">
                  <div class="col-12 col-md-6">

                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col">
                            <p class="text-uppercase text-muted small mb-1">Seats used</p>
                            <span class="h4 mb-0">3 out of 7</span>
                          </div>
                          <div class="col-auto">
                            <a class="btn btn-sm btn-outline-primary" href="#!">Upgrade</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">

                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col">
                            <p class="text-uppercase text-muted small mb-1">Default role</p>
                            <span class="h4 mb-0">Member</span>
                          </div>
                          <div class="col-auto">
                            <a class="btn btn-sm btn-dark" href="#!">Change</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">

                    <div class="card">
                      <div class="card-header d-flex justify-content-between">
                        <h6 class="card-title">Members</h6>

                        <div class="dropdown">
                          <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="dropdown">
                            Invite member
                          </button>
                          <form class="dropdown-menu dropdown-menu-right" style="width: 300px;">
                            <div class="card-header">
                              <h6 class="card-title mb-0">Invite a member</h6>
                              <span class="badge bg-primary">2 seats left</span>
                            </div>
                            <div class="card-header">
                              <div class="row no-gutters align-items-center">
                                <div class="col-3">
                                  <label class="mb-0">Name</label>
                                </div>
                                <div class="col">
                                  <input class="form-control form-control-flush" type="text" placeholder="Full name">
                                </div>
                              </div>
                            </div>
                            <div class="card-header">
                              <div class="row no-gutters align-items-center">
                                <div class="col-3">
                                  <label class="mb-0">Email</label>
                                </div>
                                <div class="col">
                                  <input class="form-control form-control-flush" type="text" placeholder="Email address">
                                </div>
                              </div>
                            </div>
                            <div class="card-footer">

                              <button class="btn btn-block btn-primary" type="submit">
                                Invite member
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="card-body">

                        <div class="list-group custom list-group-flush my-md-3">
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="#" class="avatar"><img src="../assets/img/avatar2.png" class="avatar rounded-circle"></a>
                              </div>
                              <div class="col-5 ms-2">
                                <h6 class="mb-1"><a href="#">Avatar 1</a></h6>
                                <p class="small text-muted mb-0">
                                  <a class="d-block text-reset text-truncate" href="#"><span>info@domain.com</span></a>
                                </p>
                              </div>
                              <div class="col-auto ms-auto mr-md-3">
                                <select class="form-control custom-select" data-bs-toggle="select">
                                  <option value="1">Admin</option>
                                  <option value="2">Member</option>
                                  <option value="3">Custom</option>
                                </select>
                              </div>
                              <div class="col-auto">
                                <div class="dropdown">
                                  <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="zmdi zmdi-more"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="#" class="avatar"><img src="../assets/img/avatar3.png" class="avatar rounded-circle"></a>
                              </div>
                              <div class="col-5 ms-2">
                                <h6 class="mb-1"><a href="#">Avatar 2</a></h6>
                                <p class="small text-muted mb-0">
                                  <a class="d-block text-reset text-truncate" href="#"><span>info@domain.com</span></a>
                                </p>
                              </div>
                              <div class="col-auto ms-auto mr-md-3">
                                <select class="form-control custom-select" data-bs-toggle="select">
                                  <option value="1">Admin</option>
                                  <option value="2">Member</option>
                                  <option value="3">Custom</option>
                                </select>
                              </div>
                              <div class="col-auto">
                                <div class="dropdown">
                                  <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="zmdi zmdi-more"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <a href="#" class="avatar"><img src="../assets/img/avatar4.png" class="avatar rounded-circle"></a>
                              </div>
                              <div class="col-5 ms-2">
                                <h6 class="mb-1"><a href="#">Avatar 4</a></h6>
                                <p class="small text-muted mb-0">
                                  <a class="d-block text-reset text-truncate" href="#"><span>info@domain.com</span></a>
                                </p>
                              </div>
                              <div class="col-auto ms-auto mr-md-3">
                                <select class="form-control custom-select" data-bs-toggle="select">
                                  <option value="1">Admin</option>
                                  <option value="2">Member</option>
                                  <option value="3">Custom</option>
                                </select>
                              </div>
                              <div class="col-auto">
                                <div class="dropdown">
                                  <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="zmdi zmdi-more"></i>
                                  </a>
                                  <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#!">Action</a>
                                    <a class="dropdown-item" href="#!">Another action</a>
                                    <a class="dropdown-item" href="#!">Something else here</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>-->

              <div class="tab-pane fade" id="setting-security" role="tabpanel">
                <div class="row justify-content-between mb-4">
                  <div class="col-12 col-md-6">
                    <h5>Change your password</h5>
                    <p class="text-muted mb-md-0">Keep your account secure by updating your password regularly.<br>Use the form below to set a new password.</p>
                  </div>
                  <div class="col-auto">
                    <!--<button class="btn btn-warning">Forgot your password?</button>-->
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-12">

                    <div class="card mb-4">
                      <div class="card-body">
                        <form class="row" method="post">
                          {% csrf_token %}
                          <div class="col-lg-4 col-md-12">
                            <div class="form-group mb-3">
                              <label>Current password</label>
                              <input type="password" name="current_password" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                              <label>New password</label>
                              <input type="password" name="new_password" class="form-control">
                            </div>
                            <div class="form-group mb-3">
                              <label>Confirm password</label>
                              <input type="password" name="confirm_password" class="form-control">
                            </div>
                            <input type="hidden" name="source" value="change_password">
                            <button type="submit" class="btn btn-primary">Update Password</button>
                            <button type="button" class="btn btn-warning">Cancel</button>
                          </div>
                          <div class="col-lg-8 col-md-12">

                            <div class="card bg-light border">
                              <div class="card-body">
                                <p class="mb-2">Password requirements</p>
                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>

                                <ul class="small text-muted ps-4 mb-0">
                                  <li>Minimum 8 character</li>
                                  <li>At least one special character</li>
                                  <li>At least one number</li>
                                  <li>Can’t be the same as a previous password</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-between mt-4 mb-4">
                  <div class="col-12 col-md-6">
                    <h5>Device History</h5>
                    <p class="text-muted mb-md-0">If you see a device here that you believe wasn’t you, please contact our account fraud department immediately.</p>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-dark">Log out all devices</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">

                    <div class="card mb-4">
                      <div class="card-body">
                        <div class="list-group custom list-group-flush my-md-3">
                          <div class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <div class="avatar lg text-center"><i class="zmdi zmdi-smartphone h2"></i></div>
                              </div>
                              <div class="col ml-n2">
                                <h6 class="mb-1">iPhone 11</h6>
                                <small class="text-muted">Indonesia, Makassar<time>Jan 01 at 00:05pm</time></small>
                              </div>
                              <div class="col-auto">
                                <button class="btn btn-sm btn-white">Sign out</button>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <div class="avatar lg text-center"><i class="zmdi zmdi-desktop-mac h2"></i></div>
                              </div>
                              <div class="col ml-n2">
                                <h6 class="mb-1">iMac OSX · <span class="font-weight-normal">Edge 10.2</span></h6>
                                <small class="text-muted">Indonesia, Makassar<time>Jan 01 at 00:05pm</time></small>
                              </div>
                              <div class="col-auto">
                                <button class="btn btn-sm btn-white">Sign out</button>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <div class="avatar lg text-center"><i class="zmdi zmdi-laptop h2"></i></div>
                              </div>
                              <div class="col ml-n2">
                                <h6 class="mb-1">HP Laptop Win10</h6>
                                <small class="text-muted">Indonesia, Makassar <time>Jan 01 at 00:05pm</time></small>
                              </div>
                              <div class="col-auto">
                                <button class="btn btn-sm btn-white">Sign out</button>
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item px-0">
                            <div class="row align-items-center">
                              <div class="col-auto">
                                <div class="avatar lg text-center"><i class="zmdi zmdi-desktop-windows h2"></i></div>
                              </div>
                              <div class="col ml-n2">
                                <h6 class="mb-1">iMac OSX · <span class="font-weight-normal">Edge browser</span></h6>
                                <small class="text-muted">Inodonesia, Makassar<time>Jan 01 at 00:05pm</time></small>
                              </div>
                              <div class="col-auto">
                                <button class="btn btn-sm btn-white">Sign out</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
