{% load time_filters %}
<div class="navigation navbar justify-content-center py-xl-4 py-md-3 py-0 px-3">
  <a href="/" class="brand">MaDuka
    <!--<img src="assets/img/logo2.png" alt="" style="width: 50px;">-->
  </a>
  <div class="nav flex-md-column nav-pills flex-grow-1" role="tablist" aria-orientation="vertical">
    <a class="mb-xl-3 mb-md-2 nav-link d-none d-sm-block" data-toggle="pill" href="#nav-tab-user" role="tab">
      <img src="{{ request.user.profile.avatar.url }}" class="avatar sm rounded-circle" alt="user avatar">
    </a>
    <a class="mb-xl-3 mb-md-2 nav-link active" data-toggle="pill" href="#nav-tab-chat" role="tab">
      <i class="zmdi zmdi-comment-alt"></i>
    </a>
    <a class="mb-xl-3 mb-md-2 nav-link flex-grow-1" data-toggle="pill" href="#nav-tab-contact" role="tab">
      <i class="zmdi zmdi-account-circle"></i>
    </a>
    <a class="mt-xl-3 mt-md-2 nav-link light-dark-toggle" href="javascript:void(0);">
      <i class="zmdi zmdi-brightness-2"></i>
      <input class="light-dark-btn" type="checkbox">
    </a>
    <a class="mt-xl-3 mt-md-2 nav-link" href="{% url 'my_profile' %}" role="tab">
      <i class="zmdi zmdi-settings"></i>
    </a>
    <a class="mt-xl-3 mt-md-2 nav-link" href="{% url 'chats' %}" role="tab">
      <i class="zmdi zmdi-home"></i>
    </a>
  </div>
  <button type="submit" class="btn sidebar-toggle-btn shadow-sm">
    <i class="zmdi zmdi-menu"></i>
  </button>
  </div>
  <div class="sidebar border-end py-xl-4 py-3 px-xl-4 px-3">
  <div class="tab-content">
    <div class="tab-pane fade" id="nav-tab-user" role="tabpanel">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Profile</h3>
        <div>
          <a href="{% url 'sign_out' %}" title="" class="btn btn-dark">Sign Out</a>
        </div>
      </div>
      <!--<div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>-->
      <div class="card border-0 text-center pt-3 mb-4">
        <div class="card-body">
          <div class="card-user-avatar">
            <img src="{{ request.user.profile.avatar.url }}" alt="avatar" style="width: 150px" />
            <button type="button" class="btn btn-secondary btn-sm">
              <i class="zmdi zmdi-edit"></i>
            </button>
          </div>
          <div class="card-user-detail mt-4">
            <h5>{{ request.user.username|title }}</h5>
            <span class="text-muted">
              <a href="">{{ request.user.email }}</a>
            </span>
            {% if request.user.profile.phone %}
            <p>{{ request.user.profile.phone }}</p>
            {% endif %}
            <div class="social">
              <a class="icon p-2" href="#" data-toggle="tooltip" title="Facebook">
                <i class="zmdi zmdi-facebook-box"></i>
              </a>
              <a class="icon p-2" href="#" data-toggle="tooltip" title="Youtube">
                <i class="zmdi zmdi-youtube-play"></i>
              </a>
              <a class="icon p-2" href="#" data-toggle="tooltip" title="Twitter">
                <i class="zmdi zmdi-twitter"></i>
              </a>
              <a class="icon p-2" href="#" data-toggle="tooltip" title="Instagram">
                <i class="zmdi zmdi-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="nav-tab-chat" role="tabpanel">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Chat</h3>
        <div>
          <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#InviteFriends">New Chat</button>
        </div>
      </div>
      <!--<div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>-->
      <ul class="chat-list" id="recent_chats_list" data-user-id="{{ request.user.id }}">
        <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
          <span>RECENT CHATS</span>
          <div class="dropdown">
            <a class="btn btn-link px-1 py-0 border-0 text-muted dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="zmdi zmdi-filter-list"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="tab-pane fade" id="nav-tab-contact" role="tabpanel">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0 text-primary">Contacts</h3>
        <div>
          <button class="btn btn-dark" type="button" data-toggle="modal" data-target="#InviteFriends">Invite Friends</button>
        </div>
      </div>
      <!--<div class="form-group input-group-lg search mb-3">
        <i class="zmdi zmdi-search"></i>
        <input type="text" class="form-control" placeholder="Search...">
      </div>-->
      <ul class="chat-list">
        {% if contacts %}
          {% for letter, group in contacts %}
            <li class="header d-flex justify-content-between ps-3 pe-3 mb-1">
              <span>{{ letter }}</span>
            </li>
            {% for c in group %}
              <li>
                <div class="hover_action">
                  <a href="{% url 'user_profile' c.contact.profile.identifier %}" class="btn btn-link text-info">
                    <i class="zmdi zmdi-eye"></i>
                  </a>
                  <!--<button type="button" class="btn btn-link text-warning">
                    <i class="zmdi zmdi-star"></i>
                  </button>-->
                  <button type="button" class="btn btn-link text-danger">
                    <i class="zmdi zmdi-delete"></i>
                  </button>
                </div>
                <a href="{% url 'user_profile' c.contact.profile.identifier %}" class="card">
                  <div class="card-body">
                    <div class="media">
                      <div class="avatar me-3">
                        <img class="avatar rounded-circle" src="{{ c.contact.profile.avatar.url }}" style="object-fit: cover;">
                      </div>
                      <div class="media-body overflow-hidden">
                        <div class="d-flex align-items-center mb-1">
                          <h6 class="text-truncate mb-0 me-auto text-muted" id="status-{{ c.contact.id }}" data-contact-id="{{ c.contact.id }}">
                            {% if c.contact.status.is_online %}
                            🟢 Online
                            {% elif c.contact.status.last_seen and not c.contact.status.is_online%}
                              ⚪ Last seen: {{ c.contact.status.last_seen|natural_time_format }}
                            {% else %}
                              ⚪ Never
                            {% endif %}
                          </h6>
                        </div>
                        <div class="text-truncate">{{ c.contact.username }}</div>

                      </div>
                    </div>
                  </div>
                </a>
              </li>
            {% endfor %}
          {% endfor %}
        {% endif %}

      </ul>
    </div>
  </div>
</div>


<div class="modal fade" id="InviteFriends" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Start New Conversation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="get" action="">
          <div class="form-group">
            <label>Username</label>
            <input type="text" id="search-users" class="form-control" name="qq">
            <small id="emailHelp" class="form-text text-muted">Search from the list of registered users and click on the contact to start a conversation.</small>
          </div>
          <div class="mt-5">
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          </div>
        </form>
        <div class="mt-5">
          <ul class="chat-list" id="searchUserResults">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>