{% extends 'dash/main.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}
{% block main %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sales-tab" data-bs-toggle="tab" href="#ssales" role="tab">Sales Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications" role="tab">Notifications</a>
            </li>
          </ul>
        </div>
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel">
            <div class="container p-0">
              <div class="container p-0 mb-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                  <div class="col">
                    <div class="bg-primary text-white p-3 border-0">
                      <p class="statistics-title">New Sessions</p>
                      <h3 class="rate-percentage">{{ num_sessions|default:0 }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-dark text-white p-3 border-0">
                      <p class="statistics-title">Avg. Time on Site</p>
                      <h3 class="rate-percentage">{{ avg_duration|format_time }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-success text-white p-3 border-0">
                      <p class="statistics-title">Inventory Value</p>
                      <h3 class="rate-percentage">{{ inventory_value|intcomma|default:0 }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-danger text-white p-3 border-0">
                      <p class="statistics-title">Inventory Items</p>
                      <h3 class="rate-percentage">{{ inventory_count|intcomma|default:0 }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-warning text-dark p-3 border-0">
                      <p class="statistics-title">Categories</p>
                      <h3 class="rate-percentage">{{ categories|intcomma|default:0 }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-info text-dark p-3 border-0">
                      <p class="statistics-title">Counties Shipped</p>
                      <h3 class="rate-percentage">{{ counties_shipped|intcomma|default:0 }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-dark text-white p-3 border-0">
                      <p class="statistics-title">Pending Tickets</p>
                      <h3 class="rate-percentage">{{ pending_tickets|intcomma|default:0 }}</h3>
                    </div>
                  </div>
                  <div class="col">
                    <div class="bg-success text-dark p-3 border-0">
                      <p class="statistics-title">Team Members</p>
                      <h3 class="rate-percentage">{{ team_members|intcomma|default:0 }}</h3>
                    </div>
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <h4 class="card-title">Recent Transactions</h4>
                      <p class="card-description">View your shop's latest transactions.</p>
                    </div>
                    {% if recent_transactions %}
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Transaction ID</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Created on</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for t in recent_transactions %}
                          <tr>
                            <td>{{ t.transactionID }}</td>
                            <td>KSH. {{ t.amount|intcomma }}</td>
                            <td>{{ t.status|title }}</td>
                            <td>{{ t.timestamp }}</td>
                            <td>
                              <a href="{% url 'order_details' t.order.order_number %}"><span class="badge badge-info">View</span></a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <h4 class="card-title">Popular Products</h4>
                      <p class="card-description">View the top 3 popular products in your inventory.</p>
                    </div>
                    <div class="row g-3">
                        {% for p in popular_products %}
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card bg-success card-rounded">
                                <div class="card-header">
                                    <h4 class="card-title my-1">{{ p.product.product|title }}</h4>
                                </div>
                                <div class="card-body">
                                  <p><strong>Category:</strong> {{ p.product.category.category|title }}</p>
                                  <p><strong>Price:</strong> KSH. {{ p.product.price|intcomma }} per {{ p.product.units.units|title }}</p>
                                  <p><strong>Quantity Sold:</strong> {{ p.total_sold }} {{ p.product.units.units|title }}</p>
                                  <p><strong>Total Sales:</strong> KSH. {{ p.total_sales|intcomma }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded table-darkBGImg">
                      <div class="card-body">
                        <div class="col-sm-8">
                          <h3 class="text-white upgrade-info mb-0">Enhance your <span class="fw-bold">Campaign</span> for better outreach</h3>
                          <a href="#" class="btn btn-info upgrade-btn">Upgrade Account!</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                    <div class="card bg-primary card-rounded">
                      <div class="card-body pb-0">
                        <h4 class="card-title card-title-dash text-white mb-4">Todays Sales</h4>
                        <div class="row">
                          <div class="col-sm-10">
                            <p class="status-summary-ight-white mb-1">Currently at</p>
                            <h2 class="text-info">KES. {{ total_sales_today|default:0 }}</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="tab-pane fade active" id="ssales" role="tabpanel">
            <div class="container p-0 mb-5">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col">
                  <div class="bg-primary text-white p-3 border-0">
                    <p class="statistics-title">Total Sales</p>
                    <h3 class="rate-percentage">{{ completed_sales|intcomma|default:0 }}</h3>
                  </div>
                </div>
                <div class="col">
                  <div class="bg-success text-white p-3 border-0">
                    <p class="statistics-title">Physical Sales</p>
                    <h3 class="rate-percentage">{{ physical_sales|intcomma|default:0 }}</h3>
                  </div>
                </div>
                <div class="col">
                  <div class="bg-dark text-white p-3 border-0">
                    <p class="statistics-title">E-Comm Sales</p>
                    <h3 class="rate-percentage">{{ ecomm_sales|intcomma|default:0 }}</h3>
                  </div>
                </div>
                <div class="col">
                  <div class="bg-danger text-white p-3 border-0">
                    <p class="statistics-title">This Month</p>
                    <h3 class="rate-percentage">{{ monthly_sales|intcomma|default:0 }}</h3>
                  </div>
                </div>
              </div>

              <div class="row mt-5">
              <div class="col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <h4 class="card-title">Top Customers</h4>
                      <p class="card-description">View the customers who have spent the most money in your shop.</p>
                    </div>
                    {% if top_customers %}
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>User ID</th>
                            <th>Username</th>
                            <th>Amount Spent</th>
                            <th>Registered on</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for t in top_customers %}
                          <tr>
                            <td>{{ t.identifier }}</td>
                            <td>{{ t.user.username|title }}</td>
                            <td>KSH. {{ t.total_spent|intcomma }}</td>
                            <td>{{ t.timestamp }}</td>
                            <td>
                              <a href=""><span class="badge badge-info">View</span></a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>


            </div>
          </div>

          <div class="tab-pane fade active" id="notifications" role="tabpanel">
            <div class="container p-0 mb-5">
                {% if notifications %}
                {% for n in notifications %}
                  <div class="alert {% if n.is_read %} alert-success {% else %} alert-dark {% endif %} alert-dismissible fade show p-4" role="alert">
                    {{ n.n_type|title }}: {{ n.message|capfirst }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
                {% else %}
                <h3>No New Notifications</h3>
                {% endif %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
{% endblock %}
