{% extends 'dash/main.html' %} {% load static %} {% load humanize %} {% block main %}
<div class="content-wrapper">
  <div class="row">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %}
    <div class="col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title">Pending Physical Sales</h4>
              <p class="card-description">View all sales from your brick and mortar shop.</p>
            </div>
            <div>
              <button class="btn btn-primary btn-sm text-white mb-0 me-0" type="button" data-bs-toggle="modal" data-bs-target="#newSaleModal">
                <i class="mdi mdi-account-plus"></i>
                New Sale
              </button>
            </div>
          </div>
          <div class="table-responsive">
            {% if pending_sales %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Order #</th>
                  <th>Username</th>
                  <th>Total Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for p in pending_sales %}
                <tr>
                  <td>{{ p.order_number }}</td>
                  <td>{{ p.unregistered_user|title }}</td>
                  <td>KSH. {{ p.total_amount|title }}</td>
                  <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                  <td class="d-flex justify-content-start" style="gap: 3px">
                    <a href="{% url 'order_details' p.order_number %}">
                      <span class="badge badge-info">View</span>
                    </a>
                      <button class="badge badge-primary" type="button" data-bs-toggle="modal" data-bs-target="#productsModal{{ p.order_number }}">Add Product</button>
                    <form action="" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="order_number" value="{{ p.order_number }}">
                      <input type="hidden" name="source" value="confirm_payment">
                      <button class="badge badge-success" type="submit">Complete</button>
                    </form>
                    <button class="badge badge-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ p.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteModal{{ p.id }}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Please Confirm</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Floating Labels Form -->
                                    <form class="row g-3" method="post">
                                        {% csrf_token %}
                                        <div class="col-sm-12 d-flex align-items-center gap-3">
                                            <label class="form-check-label">Are you sure you want to delete order "{{ p.order_number }}"? This action cannot be undone.</label>
                                            <input type="checkbox" name="delete_item" class="form-check" value="True" required>
                                        </div>
                                        <input type="hidden" name="order_number" value="{{ p.order_number }}">
                                        <input type="hidden" name="source" value="delete_item">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-sm btn-outline-success">Confirm</button>
                                        </div>
                                    </form>
                                    <!-- End floating Labels Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Category Modal -->
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title">Completed Physical Sales</h4>
              <p class="card-description">View all completed and paid sales from your brick and mortar shop.</p>
            </div>
          </div>
          <div class="table-responsive">
            {% if completed_sales %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Order #</th>
                  <th>Username</th>
                  <th>Total Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for s in completed_sales %}
                <tr>
                  <td>{{ s.order_number }}</td>
                  <td>{{ s.unregistered_user|title }}</td>
                  <td>KSH. {{ s.total_amount|intcomma }}</td>
                  <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                  <td class="d-flex justify-content-start" style="gap: 3px">
                    <a href="{% url 'order_details' s.order_number %}">
                      <span class="badge badge-info">View</span>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->

<!-- New Sale Modal -->
<div class="modal fade" id="newSaleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sales Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Floating Labels Form -->
        <form class="row g-3" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-floating">
              <input type="text" name="username" class="form-control" required>
              <label>Customer Name</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <input type="text" name="phone" class="form-control">
              <label>Phone Number</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <select name="product_id" class="form-select" required>
                <option value="" selected disabled>------------------------</option>
                {% for pr in available_products %}
                <option value="{{ pr.product_id }}">{{ pr.product|title }}</option>
                {% endfor %}
              </select>
              <label>Product</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <input type="number" name="quantity" class="form-control" required>
              <label>Quantity</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <select name="payment_method" class="form-select" required>
                <option value="" selected disabled>------------------------</option>
                {% for m in p_method %}
                <option value="{{ m.method }}">{{ m.method|title }}</option>
                {% endfor %}
              </select>
              <label>Payment Method</label>
            </div>
          </div>
          <input type="hidden" name="source" value="new_sale">
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-sm btn-outline-success">Add Request</button>
          </div>
        </form>
        <!-- End floating Labels Form -->
      </div>
    </div>
  </div>
</div>
<!-- New Sale Modal -->



<!-- Products Modal -->
{% for o in pending_sales %}
<div class="modal fade" id="productsModal{{ o.order_number }}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sales Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Floating Labels Form -->
        <form class="row g-3" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-floating">
              <select name="product_id" class="form-select" required>
                <option value="" selected disabled>------------------------</option>
                {% for pr in available_products %}
                <option value="{{ pr.product_id }}">{{ pr.product|title }}</option>
                {% endfor %}
              </select>
              <label>Product</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <input type="number" name="quantity" class="form-control" required>
              <label>Quantity</label>
            </div>
          </div>
          <input type="hidden" name="source" value="add_product">
          <input type="hidden" name="order_number" value="{{ o.order_number }}">
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-sm btn-outline-success">Add Product</button>
          </div>
        </form>
        <!-- End floating Labels Form -->
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- Products Modal -->

{% endblock %}
