{% extends 'dash/main.html' %} {% load static %} {% load humanize %} {% block main %}
<div class="content-wrapper">
  <div class="row">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %} {% endif %}
    <div class="col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title">Deleted Blog Posts</h4>
              <p class="card-description">View blogs that have been deleted from your shop's page.</p>
            </div>
          </div>
          <div class="table-responsive">
            {% if deleted_posts %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Featured</th>
                  <th>Posted On</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for p in deleted_posts %}
                <tr>
                  <td>{{ p.title|title|truncatechars:10 }}</td>
                  <td>{{ p.category.category|title }}</td>
                  <td>{{ p.is_featured }}</td>
                  <td>{{ p.timestamp }}</td>
                  <td class="d-flex justify-content-start" style="gap: 3px">
                    <button class="badge badge-info" type="button" data-bs-toggle="modal" data-bs-target="#viewPostModal{{ p.id }}">View</button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->

<!-- Edit Post Modal -->
{% for p in deleted_posts %}
<div class="modal fade" id="viewPostModal{{ p.id }}" tabindex="-1">
  <div class="modal-fullscreen modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Blog Posts Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Floating Labels Form -->
      <form method="post">
      {% csrf_token %}
        <div class="modal-body row g-3">
          <div class="col-md-12 d-flex justify-content-between g-1">
            <div class="col-md-6 form-floating">
              <input type="text" class="form-control" value="{{ p.blogID }}" readonly>
              <label>Blog ID</label>
            </div>&nbsp;
            <div class="col-md-6 form-floating">
              <input type="text" class="form-control" value="{{ p.author.username|title }}" readonly>
              <label>Posted By</label>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-between g-1">
            <div class="col-md-6 form-floating">
              <input type="text" class="form-control" value="{{ p.avatar }}" readonly>
              <label>Uploaded Image</label>
            </div>&nbsp;
            <div class="col-md-6 form-floating">
              <input type="text" class="form-control" value="{{ p.timestamp }}" readonly>
              <label>Posted On</label>
            </div>
          </div>
          <div class="col-md-12 d-flex justify-content-between g-1">
            <div class="col-md-6 form-floating">
              <input type="text" name="title" class="form-control" value="{{ p.title|title }}" readonly>
              <label>Title</label>
            </div>&nbsp;
            <div class="col-md-6 form-floating">
              <input type="text" class="form-control" value="{{ p.category|title }}" readonly>
              <label>Category</label>
            </div>
          </div>
          <div class="col-md-12">
            <textarea name="content" class="form-control" readonly style="height: 50vh;">{{ p.content|capfirst }}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
      <!-- End floating Labels Form -->
    </div>
  </div>
</div>
{% endfor %}
<!-- Edit Post Modal -->


{% endblock %}
