{% extends 'dash/main.html' %}
{% load static %}
{% load humanize %}
{% block main %}
<div class="content-wrapper">
  <div class="row">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <section class="section">
      <div class="row">
        <div class="col-xl-4 mb-3">
          <div class="card">
            <div class="card-body pt-4 d-flex flex-column align-items-center">
              <div>
                <img src="{{ my_shop.avatar1.url }}" class="image-fluid w-100">
              </div>
              <div class="py-5 text-center">
                <h4>{{ my_shop.name|title }}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic pb-4">{{my_shop.bio|capfirst }}</p>
                  <h5 class="card-title">Profile Details</h5>
                  <div class="row pb-3">
                    <div class="col-lg-3 col-md-4 label">Shop Name</div>
                    <div class="col-lg-9 col-md-8">
                      {{ my_shop.name|title }}
                    </div>
                  </div>
                  <div class="row py-3">
                    <div class="col-lg-3 col-md-4 label">Registered Owner</div>
                    <div class="col-lg-9 col-md-8">
                      {{ my_shop.owner|title }}
                    </div>
                  </div>
                  {% if my_shop.location %}
                  <div class="row py-3">
                    <div class="col-lg-3 col-md-4 label">Location</div>
                    <div class="col-lg-9 col-md-8">
                      {{ my_shop.location|title }}
                    </div>
                  </div>
                  {% endif %} {% if my_shop.address %}
                  <div class="row py-3">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ my_shop.address }}</div>
                  </div>
                  {% endif %} {% if my_shop.phone %}
                  <div class="row py-3">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ my_shop.phone }}</div>
                  </div>
                  {% endif %} {% if my_shop.email %}
                  <div class="row py-3">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ my_shop.email }}</div>
                  </div>
                  {% endif %}
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <!-- Profile Edit Form -->
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Images</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="row g-3">
                          
                          <!-- Avatar 1 -->
                          <div class="col-12 col-md-4 text-center">
                            <img src="{{ my_shop.avatar1.url }}" alt="Avatar 1" class="img-fluid rounded" style="height: 15rem; object-fit: cover; width: 100%;">
                            <div class="pt-2">
                              <label class="btn btn-primary btn-sm" title="Upload new image">Upload
                                <input type="file" name="avatar1" class="d-none" data-target="fileName1">
                              </label>
                              <strong id="fileName1" class="ms-2 bg-light"></strong>
                            </div>
                          </div>

                          <!-- Avatar 2 -->
                          <div class="col-12 col-md-4 text-center">
                            <img src="{{ my_shop.avatar2.url }}" alt="Avatar 2" class="img-fluid rounded" style="height: 15rem; object-fit: cover; width: 100%;">
                            <div class="pt-2">
                              <label class="btn btn-primary btn-sm" title="Upload new image">Upload
                                <input type="file" name="avatar2" class="d-none" data-target="fileName2">
                              </label>
                              <strong id="fileName2" class="ms-2 bg-light"></strong>
                            </div>
                          </div>

                          <!-- Avatar 3 -->
                          <div class="col-12 col-md-4 text-center">
                            <img src="{{ my_shop.avatar3.url }}" alt="Avatar 3" class="img-fluid rounded" style="height: 15rem; object-fit: cover; width: 100%;">
                            <div class="pt-2">
                              <label class="btn btn-primary btn-sm" title="Upload new image">Upload
                                <input type="file" name="avatar3" class="d-none" data-target="fileName3">
                              </label>
                              <strong id="fileName3" class="ms-2 bg-light"></strong>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
 
                    <div class="row my-3">
                      <label class="col-md-4 col-lg-3 col-form-label">Shop Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control" value="{{ my_shop.name }}" required>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">About</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="bio" class="form-control"
                          style="height: 100px">{% if my_shop.bio %}{{ my_shop.bio|capfirst }}{% endif %}</textarea>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">Location</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="location" type="text" class="form-control" {% if my_shop.location %}value="{{ my_shop.location|title }}"{% endif %}>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" {% if my_shop.address %}value="{{ my_shop.address }}"{% endif %}>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" {% if my_shop.email %}value="{{ my_shop.email }}"{% endif %}>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" {% if my_shop.phone %}value="{{ my_shop.phone }}"{% endif %} required>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">X Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="twitter" type="text" class="form-control" {% if my_shop.twitter %}value="{{ my_shop.twitter }}"{% endif %}>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="instagram" type="text" class="form-control" {% if my_shop.instagram %}value="{{ my_shop.instagram }}"{% endif %}>
                      </div>
                    </div>
                    <input type="hidden" name="source" value="update_profile">
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form>
                  <!-- End Profile Edit Form -->
                </div>


                <div class="tab-pane fade pt-3" id="profile-settings">
                  <!-- Settings Form -->
                  <form method="post" id="settings-form">
                    {% csrf_token %}

                    <!-- Low Stock Threshold -->
                    <div class="row mb-4">
                      <label class="col-md-4 col-lg-3 col-form-label">Low Stock Threshold</label>
                      <div class="col-md-8 col-lg-9">
                        <input class="form-control" type="number" name="ls_threshold" value="{{ threshold.threshold }}">
                      </div>
                    </div>

                    <!-- Landing Page Titles -->
                    <fieldset class="border p-3 mb-4">
                      <legend class="w-auto">Landing Page Titles</legend>
                      {% if my_shop.title1 or my_shop.title2 or my_shop.title3 %}
                        <div class="mb-2">
                          <input class="form-control" type="text" name="title1" placeholder="Short title (max 100 chars)" value="{{ my_shop.title1|truncatechars:100 }}">
                        </div>
                        <div class="mb-2">
                          <input class="form-control" type="text" name="title2" placeholder="Short title (max 100 chars)" value="{{ my_shop.title2|truncatechars:100 }}">
                        </div>
                        <div class="mb-2">
                          <input class="form-control" type="text" name="title3" placeholder="Short title (max 100 chars)" value="{{ my_shop.title3|truncatechars:100 }}">
                        </div>
                      {% endif %}
                    </fieldset>

                    <!-- Staff Roles -->
                    <fieldset class="border p-3 mb-4 bg-light">
                      <legend class="w-auto">Staff Roles</legend>
                        <div class="mb-4">
                          <label class="form-label">New Staff Role</label>
                          <input class="form-control" type="text" name="role_name">
                        </div>
                      {% if staff_roles %}
                      {% for role in staff_roles %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <span>{{ role.role_name|title }}</span>
                          <button type="submit" name="remove_role" value="{{ role.id }}" class="btn-close" title="Remove"></button>
                        </div>
                      {% endfor %}
                      {% endif %}
                    </fieldset>
                    


                    <!-- Product Units -->
                    <fieldset class="border p-3 mb-4 bg-light">
                      <legend class="w-auto">Product Units</legend>
                        <div class="mb-4">
                          <label class="form-label">New Units</label>
                          <input class="form-control" type="text" name="units">
                        </div>
                      {% if units %}
                      {% for u in units %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <span>{{ u.units|title }}</span>
                          <button type="submit" name="remove_unit" value="{{ u.id }}" class="btn-close" title="Remove"></button>
                        </div>
                      {% endfor %}
                      {% endif %}
                    </fieldset>    

                    <!-- Payment Methods -->
                    
                    <fieldset class="border p-3 mb-4 bg-light">
                      <legend class="w-auto">Payment Methods</legend>
                        <div class="mb-4">
                          <label class="form-label">New Payment Method</label>
                          <input class="form-control" type="text" name="p_mthd">
                        </div>
                      {% if p_methods %}
                      {% for p in p_methods %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <span>{{ p.method|title }}</span>
                          <button type="submit" name="remove_p_mthd" value="{{ p.id }}" class="btn-close" title="Remove"></button>
                        </div>
                      {% endfor %}
                      {% endif %}
                    </fieldset>

                    <!-- Counties and Shipping Costs -->
                    <fieldset class="border p-3 mb-4 bg-light">
                      <legend class="w-auto">Counties Shipped</legend>
                        <div class="mb-4">
                          <label class="form-label">New County</label>
                          <input class="form-control mb-2" type="text" name="county">
                          <label class="form-label">Shipping Cost (KES.)</label>
                          <input class="form-control" type="number" name="shipping_cost">
                        </div>
                      {% if counties %}
                      {% for c in counties %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <div>{{ c.county|title }} — <strong>KES. {{ c.price|intcomma }}</strong></div>
                          <button type="submit" name="remove_county" value="{{ c.id }}" class="btn-close" title="Remove"></button>
                        </div>
                      {% endfor %}
                      {% endif %}
                    </fieldset>
                    <input type="hidden" name="source" value="settings_form">
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="save-btn" disabled>Save Changes</button>
                    </div>
                  </form>
                </div>      
              </div>
              <!-- End Bordered Tabs -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
// Enable Save button on input change
const settingsForm = document.getElementById('settings-form')
const saveSettingsBtn = document.getElementById('save-btn')
const fileInputs = document.querySelectorAll('input[type="file"]')

settingsForm.addEventListener('input', () => {
  saveSettingsBtn.disabled = false;
});

fileInputs.forEach(input => {
  input.addEventListener('change', function() {
  let fileName = this.files.length > 0 ? this.files[0].name : "No file chosen";
  let displayElement = document.getElementById(this.getAttribute('data-target'));
  
  if (displayElement) {
    displayElement.textContent = fileName;
  }
  });
});
</script>


{% endblock %}

