{% extends 'dash/main.html' %}
{% load static %}
{% block main %}
<div class="content-wrapper">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title">Staff</h4>
                            <p class="card-description">
                                View and manage your staff.
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm text-white mb-0 me-0" type="button"
                                data-bs-toggle="modal" data-bs-target="#newStaffModal">
                                <i class="mdi mdi-account-plus"></i>
                                New Staff
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        {% if staff %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Access Level</th>
                                    <th>Created on</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in staff %}
                                <tr>
                                    <td>{{ s.user }}</td>
                                    <td>{{ s.role.role_name|title }}</td>
                                    <td>{{ s.access_level }}</td>
                                    <td>{{ s.timestamp }}</td>
                                    <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                                    <td class="d-flex justify-content-start" style="gap: 3px;">
                                        <button class="badge badge-info" type="button" data-bs-toggle="modal" data-bs-target="#viewStaffModal{{ s.id }}">View</button>
                                        <!-- View Category Modal -->
                                        <div class="modal fade" id="viewStaffModal{{ s.id }}" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Staff Form</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Floating Labels Form -->
                                                        <form class="row g-3" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="col-sm-12">
                                                                <div class="form-floating">
                                                                    <input type="text" name="name" class="form-control" value="{{ s.user.username }}" required>
                                                                    <label>Username</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" name="role" class="form-control" list="role_list" autocomplete="off" value="{{ s.role.role_name|title }}" required>
                                                                    <datalist id="role_list">
                                                                        {% for r in roles %}
                                                                        <option value="{{ r.role_name }}">
                                                                        {% endfor %}
                                                                    </datalist>
                                                                    <label>Role</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-floating">
                                                                    <select name="access_level" class="form-select">
                                                                        <option value="1" {% if s.access_level == 1 %} selected {% endif %}>1 - Limited access ie. drivers dashboard</option>
                                                                        <option value="2" {% if s.access_level == 2 %} selected {% endif %}>2 - Basic access for operational management</option>
                                                                        <option value="3" {% if s.access_level == 3 %} selected {% endif %}>3 - Full access(superuser)</option>
                                                                    </select>
                                                                    <label>Access Level</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <label class="btn btn-sm btn-primary">Upload Image
                                                                    <input type="file" name="avatar" class="d-none">
                                                                </label>
                                                                {% if s.avatar %}
                                                                <p>{{ s.avatar }}</p>
                                                                {% endif %}
                                                                <br>
                                                            </div>
                                                            
                                                            <input type="hidden" name="staffID" value="{{ s.id }}">
                                                            <input type="hidden" name="source" value="edit_staff">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-sm btn-outline-success">Save Changes</button>
                                                            </div>
                                                        </form>
                                                        <!-- End floating Labels Form -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- New Category Modal -->
                                        <button class="badge badge-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{ s.id }}">Delete</button>
                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="deleteModal{{ s.id }}" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Please Confirm</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Floating Labels Form -->
                                                        <form class="row g-3" method="post">
                                                            {% csrf_token %}
                                                            <div class="col-sm-12 d-flex align-items-center gap-3">
                                                                <label class="form-check-label">Are you sure you want to delete "{{ s.user.username|title }}"? This action cannot be undone.</label>
                                                                <input type="checkbox" name="delete_item" class="form-check" value="True" required>
                                                            </div>
                                                            <input type="hidden" name="staffID" value="{{ s.id }}">
                                                            <input type="hidden" name="source" value="delete_item">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-sm btn-outline-success">Confirm</button>
                                                            </div>
                                                        </form>
                                                        <!-- End floating Labels Form -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Delete Category Modal -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->

<!-- New Staff Modal -->
<div class="modal fade" id="newStaffModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Staff Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <input type="text" name="name" class="form-control">
                            <label>Username</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <input type="email" name="email" class="form-control">
                            <label>Email</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <input type="password" name="password1" class="form-control">
                            <label>Password</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <input type="password" name="password2" class="form-control">
                            <label>Confirm Password</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating">
                        <input type="text" name="role" class="form-control" list="role_list" autocomplete="off" required>
                        <datalist id="role_list">
                            {% for r in roles %}
                            <option value="{{ r.role_name }}">
                            {% endfor %}
                        </datalist>
                        <label>Role</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <select name="access_level" class="form-select">
                                <option>-------------------------------------------------</option>
                                <option value="1">1 - Limited access ie. drivers dashboard</option>
                                <option value="2">2 - Basic access for operational management</option>
                                <option value="3">3 - Full access(superuser)</option>
                            </select>
                            <label>Access Level</label>
                        </div>
                    </div>
                    <input type="hidden" name="source" value="new_staff">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm btn-outline-success">Add Staff</button>
                    </div>
                </form>
                <!-- End floating Labels Form -->
            </div>
        </div>
    </div>
</div>
<!-- New Staff Modal -->

{% endblock %}
