{% extends 'shop/main.html' %}
{% load humanize %}
{% block main %}


<!--====== App Content ======-->
<div class="app-content">
    {% if messages %}
    {% for m in messages %}
    <!--====== Messages Section ======-->
    <div class="u-s-p-y-60">
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="is-marked">
                                <a href="wishlist.html">{{ m }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End Messages Section ======-->
    {% endfor %}
    {% endif %}
    <!--====== Section 1 ======-->
    <div class="u-s-p-y-90">
        <!--====== Detail Post ======-->
        <div class="detail-post">
            <div class="bp-detail">
                <div class="bp-detail__thumbnail">
                    <!--====== Image Code ======-->
                    <div class="aspect aspect--bg-grey aspect--1366-768">
                        <img class="aspect__img" src="{{ post.avatar.url }}">
                    </div>
                    <!--====== End - Image Code ======-->
                </div>
                <div class="bp-detail__info-wrap">
                    <div class="bp-detail__stat">
                        <span class="bp-detail__stat-wrap">
                            <span class="bp-detail__publish-date">
                                <a href="blog-right-sidebar.html"><span>{{ post.timestamp }}</span></a>
                            </span>
                        </span>
                        <span class="bp-detail__stat-wrap">
                            <span class="bp-detail__author">
                                <a href="blog-right-sidebar.html">{{ post.author.username|title }}</a>
                            </span>
                        </span>
                        <span class="bp-detail__stat-wrap">
                            <span class="bp-detail__category">
                                <a href="blog-right-sidebar.html">{{ post.category.category|title }}</a>
                            </span>
                        </span>
                    </div>
                    <span class="bp-detail__h1">
                        <a href="blog-detail.html">{{ post.title|title }}</a>
                    </span>
                    <div class="blog-t-w">
                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-right-sidebar.html">Travel</a>
                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-right-sidebar.html">Culture</a>
                        <a class="gl-tag btn--e-transparent-hover-brand-b-2" href="blog-right-sidebar.html">Place</a>
                    </div>
                    <p class="bp-detail__p">{{ post.content|capfirst }}</p>
                    <div class="post-center-wrap">
                        <ul class="bp-detail__social-list">
                            <li>
                                <a class="s-fb--color" href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a class="s-tw--color" href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="s-insta--color" href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a class="s-wa--color" href="#"><i class="fab fa-whatsapp"></i></a>
                            </li>
                            <li>
                                <a class="s-gplus--color" href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="gl-l-r bp-detail__postnp">
                        <div>
                            <a href="blog-detail.html">Previous Post</a></div>
                        <div>

                            <a href="blog-detail.html">Next Post</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Detail Post ======-->
    <div class="u-s-p-b-60">
        <div class="d-meta">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-meta__comment-arena">

                            <span class="d-meta__text u-s-m-b-36">6 thoughts on "{{ post.title|title }}"</span>
                            <div class="d-meta__comments u-s-m-b-30">
                                <ol>
                                    {% for c in comments %}
                                    <li>
                                        <!--====== Comment ======-->
                                        <div class="d-meta__p-comment">
                                            <div class="p-comment__wrap1">
                                                <div class="aspect p-comment__img-wrap">
                                                    <img src="{{ request.user.profile.avatar.url }}" style="width: 100%;">
                                                </div>
                                            </div>
                                            <div class="p-comment__wrap2">
                                                <span class="p-comment__author">{{ c.author.username|title }}</span>
                                                <span class="p-comment__timestamp">
                                                    <a href="#"><span>{{ c.timestamp }}</span></a>
                                                </span>
                                                <p class="p-comment__paragraph">{{ c.comment|capfirst }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <span class="d-meta__text-2 u-s-m-b-6">Join the Conversation</span>
                            <span class="d-meta__text-3 u-s-m-b-16">Your email address will not be published. Required fields are marked *</span>
                            <form class="respond__form" method="post">
                                {% csrf_token %}
                                <div class="respond__group">
                                    <div class="u-s-m-b-15">
                                        <label class="gl-label" for="comment">COMMENT *</label>
                                        <textarea class="text-area text-area--primary-style" id="comment" name="comment"></textarea>
                                    </div>
                                    <div>
                                        <p class="u-s-m-b-30">
                                            <label class="gl-label" for="responder-phone">PHONE</label>
                                            <input class="input-text input-text--primary-style" type="text" id="responder-phone" name="phone">
                                        </p>
                                        <p class="u-s-m-b-30">
                                            <label class="gl-label" for="responder-email">EMAIL</label>
                                            <input class="input-text input-text--primary-style" type="text" id="responder-email" name="email">
                                        </p>
                                        <input type="hidden" name="source" value="new_comment">
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn--e-brand-shadow" type="submit">POST COMMENT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->

{% endblock %}
